@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Roboto+Slab');

body {
  background-color: #dfe1d4;
  font-family: "Libre Franklin";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Slab";
  font-size: 3vh;
  justify-content: flex-end;
  #header-img {
    margin: 20px auto 0 20px;
    }
  #nav-bar {
    position: fixed;
    ul {
      display: flex;
      list-style-type: none;
      li:hover {
        border-bottom: 6px dashed black;
      }
      li a {
        color: black;
        text-decoration: none;
        }
      }
    }
    .nav-link {
      margin: 0 15px;
      }
}


main {
  text-align: center;
  #video {
    margin: 50px auto;
    }
  #email {
    font-family: "Libre Franklin";
    font-size: 2vh;
    text-align: center;
    width: 40%;
    }
  #submit {
    background-color: transparent;
    border: 1px solid black;
    font-size: 2vh;
  }
  h3 {
    font-size: 5vh;
    }
  p {
    font-size: 4vh;
    }
  #price {
    display: flex;
    flex-wrap: wrap;
    h3 {
      width: 100%;
      }
    .price-table {
      border-right: 10px dashed black;
      border-bottom: 10px dashed black;
      font-size: 4vh;
      margin: 0 auto;
      padding-bottom: 50px;
      width: 28%;
      h4 {
        background-color: #989D7D;
        margin-top: 0;
        padding: 30px 0;
        }
      }
    }
  #contact {
    font-size: 3vh;
    margin: 50px 0;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        border-bottom: 10px dashed black;
        }
      }
  }
}

iframe, object, embed {
    max-width: 90%;
}

@media (max-width: 400px) {
  main #price .price-table {
      width: 70%;
  }
}